<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>530005704130-lo4foma4gq92kh9f6jpkn9i4mlolgo2m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.530005704130-lo4foma4gq92kh9f6jpkn9i4mlolgo2m</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>530005704130-hv5ockbs1ogcbc29iauo0jteqok2c40m.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB0vDmCIzxlVtVJYYvcjKgUeyRHBPhKvW0</string>
	<key>GCM_SENDER_ID</key>
	<string>530005704130</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.anMukSo</string>
	<key>PROJECT_ID</key>
	<string>an-muk-so-ver1</string>
	<key>STORAGE_BUCKET</key>
	<string>an-muk-so-ver1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:530005704130:ios:bafa81d073bf329eca6a5b</string>
</dict>
</plist>